/* NavigationBar.css */

/* Navbar container */
/* Apply Poppins font to the entire website */
/* Apply Montserrat font to the entire website */

@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=League+Spartan:wght@100&family=Montserrat:ital,wght@0,100;1,100&family=PT+Sans&family=Playfair+Display&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
  }
  
  
.navbar {
    background-color: #e63946;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #f1faee;
    font-size: 18px;
  }
  
  /* Logo container */
  .logo-container {
    display: flex;
    align-items: center; /* Vertically align the logo within the container */
  }
  
  /* Logo image */
  .logo {
    width: 80px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 20px; /* Add spacing between the logo and navigation links */
  }
  
  /* Navigation links */
  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  /* Navigation link items */
  .nav-links li {
    margin: 0;
  }
  
  /* Links */
  .nav-links a {
    text-decoration: none;
    color: #f1faee;
    transition: color 0.3s;
  }
  
  /* Hover effect */
  .nav-links a:hover {
    color: #a8dadc;
  }
  